body {
  background-color: aliceblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.alToque{
  color: aliceblue;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}

.navSticky {
  position: sticky !important;
  top: 0px !important;
  z-index: 999; }

.navBar{
  background-color: #004369 !important;  
}

.ddB{
  background-color: aliceblue;
}

.borderW, .borderW:hover, .borderW:focus {
  box-shadow: none !important;
  border: 1px solid aliceblue !important;
}

.ddLinks{
  color: #002940;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.navBarLinks {
  color: aliceblue !important;  
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.itemDetailTitle{
  color: #002940;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  border-bottom: 1px solid #002940;
}

.itemDetailP{
  text-align: center;
  color: #002940;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;  
}

.btnAT, .btnAT:hover, .btnAT:focus {
  background-color: #004369;
  color: aliceblue !important;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  width: 100%;
  box-shadow: none !important;
  border-color: #004369;
}

.itemDetailDescription{
  text-align: left;
  color: #002940;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;  
}